body {
    background-color: black;
}

div {
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: center;

}

img {
    margin-right: 16px;
    width: 96px;
    height: 96px;
}